<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Connecing CSS -->
    <link rel="stylesheet" href="/CSS/displayStyle.css">
    <title>Display</title>
</head>
<body>
    <div id="container">
        <!-- nav section -->
        <div id="nav">
            <%- include('../partials/nav') %>
        </div>

        <!-- list -->
        <div id="content-section">
            <h1  style="text-align: center;margin-bottom: 30px;">Task</h1>
            <div> 
                <% if (datas.length>0) {%>
                    <% datas.forEach(data => { %>
                        <a href="/task/<%= data._id %>" title="click to complete task" >
                            <div>
                                <p>ID : <%= data.userid %></p>
                                <p>Status : <%= data.status %></p>
                            </div>
                        </a>
                    <% }) %>
                <% } else {%>
                        <h2 style="text-align: center; color: #fff; margin-top: 20px;">
                            There is no task
                        </h2>
                <% } %> 
            </div>
            <div style="width: 70%; text-align: center;">
                <a href="/"><input type="button" value="Add User"></a>
            </div>
        </div>

        <!-- footer section -->
        <div id="footer">
            <%-include('../partials/social');%>
        </div>
    </div>
</body>
</html>

